/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

#wrapper {
  font-family: "Roboto", serif;
  font-weight: 400;
}

#top-header {
  display: Flex;
  justify-content: space-between;
  padding-bottom: 10px;
}

#top-header a {
  text-decoration: none;
  color: black;
}

.siteName {
  font-size: xx-large;
  font-weight: bolder;
}

#dynamic-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  list-style: none;
  background-color: black;
  padding: 20px;
}

#dynamic-nav li a {
  color: white;
  text-decoration: none;
}

#dynamic-nav li a:hover {
  color: #ffcc00;
  text-decoration: underline;
} 

#header-slash {
  font-size: x-large;
  color: #0041a8;
}

.hero-container {
  position: relative;
}

.hero-container img {
  max-width: 700px;
  width: 100%;
  height: auto;
  margin: 0.5rem 0 1rem 0;
  padding-bottom: 20px;
}


.hero-content {
  position: absolute;
  top: 1%;
  background-color: white;
  border: 1px solid beige;
  padding: 10px;
  margin-left: .5rem;
  border-radius: 8px;
  opacity: 0.9;
  color: #005488;
  max-width: fit-content;
  width: 100%;
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.hero-content button {
  background-color: #31a1e7;
  color: black;
  border: none;
  padding: 8px;
  border-radius: 4px;
}  

.delorean-reviews h2 {
  padding-bottom: 20px;
}

.delorean-reviews li {
  font-size: large;
  padding-bottom: 30px;
}

.delorean-upgrades {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.upgrades img {
  padding: 4px 30px 4px 30px;
  background-color: #31a1e7;
  width: 100%;

}

figcaption {
  text-decoration: underline;
  color: blue;
}

#inv-display {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

#inv-display li {
  border: 1px solid beige;
  border-radius: 5px;
  box-shadow: 10px 10px 20px 5px rgb(241, 239, 239);
  text-align: center;
  list-style: none;
  padding-bottom: 10px;
}

hr {
  border: 4px solid rgb(95, 93, 93);
  width: 100%;
}

#inv-display li img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  padding-bottom: 10px;
}

.inv-details-text p {
  padding: .5rem 0;
  font-size: large;
}

.inv-details-text p:nth-of-type(odd) {
  background-color: aliceblue;
}

#inv-details img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  max-width: 500px;
}

.error-image {
  width: 100%;
  height: auto;
  max-width: 600px;
  display: block;
  margin: auto;
}

.notice {
  list-style: none;
  font-style: italic;
  font-weight: bold;
}

.notice-success {
  list-style: none;
  font-style: italic;
  font-weight: bold;
  color: green;
} 

.validation-notice {
  font-style: italic;
  font-weight: bold;
  color: red;
}

form {
    background-color: #d0f0ff;
    width: 50%;
    margin: 1rem auto;
    padding: 1rem;
    border-radius: 10px;
}

input[type="text"],
input[type="password"],
input[type="email"], 
input[type="number"],
input[type="url"],
select,
textarea {
    width: 100%;
    padding: 12px;
    margin-top: 5px;
    margin-bottom: 5px;
    border: 3px solid #ccc;
    outline: none;
    border-radius: 8px;
    font-size: 1rem;
    box-sizing: border-box;
}

textarea {
  resize: vertical;
  font-family: 'Roboto', serif;
}

select:focus:invalid {
  border-color: red;
}

select:focus:valid {
  border-color: green;
}

textarea:focus:invalid {
  border-color: red;
}

textarea:focus:valid {
  border-color: green;
}

input:focus:invalid {
  border-color: red;
 }

input:focus:valid {
  border-color: green;
}

.form-button {
  display: flex;
  justify-content: center;
  align-items: center;
}

form button {
    margin-top: 20px;
    padding: 12px 20px;
    background-color: #0041a8;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
    cursor: pointer;
}

form p, form a {
  text-align: center;
}

.new-feature-links {
  margin-left: 1rem;
  padding: 10px;
}

@media (min-width: 768px) {
  html {
    background-image: url(../images/site/checkerboard.jpg);
    background-size: contain;
    background-repeat: repeat;
    margin: 0;
    height: 100%;
  }
  
  #wrapper {
    width: 70%;
    margin: auto;
    border: 5px solid #31a1e7;
    background: white;
    padding: 10px;
    border-radius: 8px;
  }

  .hero-container img {
    max-width: 600px;
  }

  .delorean-info {
    display: flex;
    flex-direction: row-reverse;
    margin: auto;
    justify-content: left;
    gap: 50px;
  }

  #inv-display {
    margin: 1rem auto;
    display: grid; 
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    list-style: none;
    gap: 20px;
  }

  #inv-display li {
    position: relative;
    height: 400px;
  }

  .namePrice {
    width: 100%;
    max-width: 300px;
    height: auto;
    position: absolute;
    top: 60%
  }

  #inv-details {
    display: flex;
    gap: 20px;
  }

  .inv-details-text {
    max-width: 400px;
  }
 
}